<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <p>New users register</p>
    <form action="/login" method="post" target="_blank">
        email: <input type="text" name="email"><br>
        username: <input type="text" name="username"><br>
        password: <input type="password" name="password"><br>
        <input type="submit" value="Submit">
    </form>
    <br>
    <p>Returning users sign in</p>
    <form action="/login" method="post" target="_blank">
        email: <input type="text" name="logemail"><br>
        password: <input type="password" name="logpassword"><br>
        <input type="submit" value="Submit">
    </form>

</body>

</html>